# Used Cars

Used Cars dataset contains relevant imformation that Craigslist provides on car sales.
More information can be found at: https://www.kaggle.com/datasets/austinreese/craigslist-carstrucks-data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# sto s null vrijdnostima
# sto s krivo formatiranim podacima

# jesu li sve kolone ispravnog tipa
# je li csv idealan za ovaj use case
# jesu li sve kolone potrebne

# vizualizacija

# mozes napravit specijalno rjesenja za npr samo toyotu

# je li oblik u kojem su podaci dovoljan i prikladan za sve daljnje potrebe

# koje su najcesce podjele ukupnog skupa podataka u fazi za treniranje i evaluaciju
# kak sam ja pripremil skup podataka za sljedeci korak

## 1 Učitavanje podataka

Na samom početku je potrebno učitati podatke i pogledati od kojih se stupaca sastoji te kakve se informacije u njima pružaju.

In [ ]:
df = pd.read_csv('vehicles.csv')
df.head(5)

In [64]:
df = df.set_index('id')

In [65]:
df.shape

(426880, 25)

In [91]:
df.describe()

,price,year,odometer,county,lat,long
count,4.268800e+05,425675.000000,4.224800e+05,0.0,420331.000000,420331.000000
mean,7.519903e+04,2011.235191,9.804333e+04,NaN,38.493940,-94.748599
std,1.218228e+07,9.452120,2.138815e+05,NaN,5.841533,18.365462
min,0.000000e+00,1900.000000,0.000000e+00,NaN,-84.122245,-159.827728
25%,5.900000e+03,2008.000000,3.770400e+04,NaN,34.601900,-111.939847
50%,1.395000e+04,2013.000000,8.554800e+04,NaN,39.150100,-88.432600
75%,2.648575e+04,2017.000000,1.335425e+05,NaN,42.398900,-80.832039
max,3.736929e+09,2022.000000,1.000000e+07,NaN,82.390818,173.885502

## Obrada podataka

Nakon pregleda podataka, nastavlja se sa njihovom obradom. Prvi korak u obradi je pregled tipa stupaca i preoblikovanje tipa ukoliko je to potrebo. Možemo vidjeti da je stupac 'year' tipa float64 pa ga je potrebno pretvoriti u tip int64. Također ćemo izvući broj cilindara iz stringa stupaca cylinders i pretvoriti ga u tip int32.  Na posljetku prebaciti stupac 'posting_date' iz object u datetime.

In [66]:
df.dtypes

url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

In [119]:
df['year'] = pd.to_numeric(df['year'], errors='coerce').astype(pd.Int64Dtype())
df['cylinders'] = pd.to_numeric(df['cylinders'].apply(lambda x: str(x).split()[0]), errors='coerce').astype(pd.Int32Dtype())
df['posting_date'] = pd.to_datetime(df['posting_date'], utc=True)
df.dtypes

url                          object
region                       object
region_url                   object
price                         int64
year                          Int64
manufacturer                 object
model                        object
condition                    object
cylinders                     Int32
fuel                         object
odometer                    float64
title_status                 object
transmission                 object
VIN                          object
drive                        object
size                         object
type                         object
paint_color                  object
image_url                    object
description                  object
county                      float64
state                        object
lat                         float64
long                        float64
posting_date    datetime64[ns, UTC]
dtype: object

Također je potrebno pretvoriti određene kolone u kategoričke varijable kako bi se s njima moglo raditi u nekom prediktivnom modelu. Koristi se funckija get_dummies koja pretvara kolonu u indikatorske varijable. Postoji i mogućnosti pretvaranja kolone u kategorički tip, no ukoliko primjerice kolonu transmission pretvortimo u kategoričku varijablu gdje je 'automatic' označen sa 0, 'manual' sa 1 te 'other' sa 2, model bi mogao smatrati kako je 2>1>0 te da to predstavlja nekakav poredak. Da bi to izbjegli koristimo indikatorske varijable.

In [90]:
df1 = df.copy()
df1 = df1[['year','manufacturer','condition','cylinders','odometer','fuel', 'transmission','drive','size','type']]
df1 = pd.get_dummies(df1, columns=['manufacturer','condition','fuel','type','transmission','drive','size'])
df1[10:20]

,year,cylinders,odometer,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,...,transmission_automatic,transmission_manual,transmission_other,drive_4wd,drive_fwd,drive_rwd,size_compact,size_full-size,size_mid-size,size_sub-compact
id,,,,,,,,,,,,,,,,,,,,,
7218893038,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7218325704,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7217788283,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7217147606,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7209027818,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7223509794,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7222753076,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7222206015,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7220030122,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7218423006,<NA>,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
df.isna().sum()

url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       178976
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

Sve kolone nisu potrebne za predikciju cijene automibila, zbog čega radimo novi skup podataka koji će sadržavati podskup kolona originalnog skupa podataka koji bi mogli biti od važnosti u predikciji. Kolona 'size' je izbačena jer sadrži 70% Nan vrijednosti.

In [ ]:
X = df[['year','manufacturer','condition','cylinders','fuel', 'odometer', 'transmission','drive','type']]

Obrađeni je skup podataka potrebno podijelit na više dijelova kako bi se nad njima mogla raditi regresija. Najčešće se skup dijeli na podskup za trening i podskup za validaciju, a može se i dodatno podijeliti na podskup za tuning. Podskup za trening služi za treniranje modela, odnosno podešavanje parametara modela, a podskup za validaciju za usporedbu modela sa različitim hiperparametrima. Ta se usporedba radi na skupu za validaciju koji je različit od skupa za treniranje kako bi se izbjegla pristranost jer statistički gledano nije ispravno mjeriti točnost modela na skupu na kojem je treniran. Slična je uporaba i podskupa za tuning. On se koristi kad postoje hiperparametri na više razina. Također se originalni skup može podijeliti i na 10 (k) dijelo kad bi se radila 10-fold (k-fold) unakrsna validacija (cross-validation). Nakon što se podese hiperparametri modela, model se trenira na cjelokupnom skupu podataka prije nego se deploy-a.

## Vizualizacija

In [122]:
# value counts, crosstab, pivot table
# sns bikes data mining
# group by + agg func